body{
    margin: initial;
    background-size: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    
}
header{
    text-align: center;
    font-size: 50px;
    font-style: italic;
    font-style: bold;
    text-decoration-line: underline;
    color: #ffffff;
}
footer{
    text-align: center;
    font-size: 20px;
    font-style: italic;
    font-style: bold;
    text-decoration-line: underline;
    color: rgb(255, 255, 255);
}
img{
    padding-left: 280px;
    padding-right: 250px;
    border: solid; 
    border-image: stretch; 
    border-style: groove; 
    border-radius: 50%;
    box-shadow:  0 4px 8px rgba(0, 0, 0, 20);
    background-color: transparent;
    
}
p{
    padding-left: 250px;
    padding-right: 250px;
    color: #ffffff;
}