body{
    background-color: #e6c1c1;
}
header{
    text-align: center;
    border: solid;
    font-style: italic;
    background-color: rgb(69, 218, 94);
    text-decoration-line: underline;
    font-size: 30px;
    text-shadow: 200px;
}

h1{
    color: blueviolet;
    text-align: center;
}
h3{
    color: brown;
    text-align: center;
}
h6{
    border: double;
    background-color: lightblue;
    color: rgb(50, 94, 34);
}
.base{
    border: solid;
}
div{
    padding-top: 30px;
    background-color: rgb(221, 231, 160);
    align-items: center;
    padding-bottom: 70px;
}
img {
    width: 250px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 20);
    
}
ul{
    text-align: left;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 30px;
    padding-bottom: 50px;
    color: rgb(30, 21, 106);
}
footer{
    padding-top: 50px;
    color: rgb(110, 16, 110);
    text-decoration-line: underline;
    text-align: center;
    font-style: italic;
}
#hello{
    text-align: end;
    background-color: rgb(236, 91, 168);
}